<!DOCTYPE HTML>

<html>
	<head>
		<title>Hall 3:Mess</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static "assets/css/main.css" %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		{% load staticfiles %}
		<noscript><link rel="stylesheet" href="{% static "assets/css/noscript.css" %}" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar">
								{% load staticfiles %}
								<img src="{% static "images/avatar.jpg" %}" alt="" /></span>
							<h1>Hall - 3</h1>
							<p>Mess Automation</p>
						</header>
						
						<hr />
						<h2>Extra Stuffs!</h2>
						
							
						<form method="post" action="/extra_login/">
							{% csrf_token %}
							<div class="field">
								<input type="text" name="roll" placeholder="Roll Number" />
							</div>
							
							
							<ul class="actions">
								<li><input class="button" type="submit" value="Let's Eat" ></li>
							</ul>
						</form>
						<hr />
						
						<footer>
							<ul class="icons">
								<li><a href="#" class="fa-twitter">Twitter</a></li>
								<li><a href="#" class="fa-instagram">Instagram</a></li>
								<li><a href="#" class="fa-facebook">Facebook</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Hall - 3</li><li>Design: <a href="http://home.iitk.ac.in/~adarshs">Adarsh</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>