<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hall-3 Mess Automation</title>

    <!-- Bootstrap Core CSS -->
    {% load staticfiles %}
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "vendor/font-awesome/css/font-awesome.min.css"%}">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "vendor/simple-line-icons/css/simple-line-icons.css"%}">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "vendor/device-mockups/device-mockups.min.css"%}">

    <!-- Theme CSS -->
    {% load staticfiles %}
    <link href="{% static "css/new-age.min.css"%}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Mess Automation</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   
                    <li>
                        <a class="page-scroll" href="/login/">Login</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="/logout/">Logout</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container" >
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>A new addition to Hall-3, The Mess Automaion System</h1>
                            <a href="/student_view/" class="btn btn-outline btn-xl page-scroll">Students Start Here!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5" style="height:75em" >
                    <div class="device-container">
                        <div class="device-mockup iphone6 portrait white" style="width:100%">
                            <div class="device" style="width:100%">
                                <div class="screen" style="width:100%">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <div class="container">
                                      <h2>---Menu Today!---</h2>
                                      <hr>
                                      {% for extras in extra %}
                                      <p>{{extras.extra_name}} - Rs.{{extras.extra_cost}}</p>
                                      {% endfor %}
                                      <!-- <button type="button" class="btn btn-primary">Primary</button> -->
                                      <!-- <button type="button" class="btn btn-success">Success</button>
                                      <button type="button" class="btn btn-info">Info</button>
                                      <br>
                                      <br>
                                      <button type="button" class="btn btn-warning">Warning</button>
                                      <button type="button" class="btn btn-danger">Danger</button>
                                      <button type="button" class="btn btn-link">Link</button> -->
                                    </div>
                                    <div class="container">
                                        <h2>Options</h2>
                                        <a style="width:26em" type="button" href="/login/"   class="btn btn-warning">Mess Login</a>
                                        <br>
                                        <br>
                                        <a style="width:26em" type="button" href="/student_view/" class="btn btn-success">Student</a>
                                    </div>

                                    <!-- <img src="img/demo-screen-1.jpg" class="img-responsive" alt=""> -->
                                </div>
                                <div class="button" onclick="messlogin()">
                                                                       
                                </div>
                                <script>
                                    function messlogin() {
                                        window.location = "/mess/";

                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </header>

   <!--  <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Discover what all the buzz is about!</h2>
                    <p>Our app is available on any mobile device! Download now to get started!</p>
                    <div class="badges">
                        <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
                        <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
 -->
    

   

    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2016 Hall-3. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="http://home.iitk.ac.in/~adarshs">Adarsh Srivastava</a>
                </li>
                
            </ul>
        </div>
    </footer>

    <!-- jQuery -->
    {% load staticfiles %}
    <script src="{% static "vendor/jquery/jquery.min.js"%}"></script>

    <!-- Bootstrap Core JavaScript -->
    {% load staticfiles %}
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js"%}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    {% load staticfiles %}
    <script src="{% static "js/new-age.min.js"%}"></script>

</body>

</html>
